@charset "utf-8";

$navbar-breakpoint: 480px !default;

@import '../node_modules/bulma/bulma.sass';

.active {
  font-weight: bold;
}

.loader {
  height: 80px;
  width: 80px;
}

.loader-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  display: none;
}

.Sidebar {
  overflow: hidden;
  opacity: 0;
  transition-property: max-width, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  @media (min-width: 769px) {
    max-width: 0;
  }

  &--open {
    opacity: 1;

    @media (min-width: 769px) {
      max-width: 50%;
    }
  }
}

.message-body {
  white-space: pre-line;
}